body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #D8DCE0;
}

.quemsomos {
    background-color: #5289A7;
    color: white;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;  
}

.parceiros {
    background-color: #DFE0E0;
}

.bg-footer {
    background-color: black;
    color: gray;
}
